* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    background-image: url(https://images.unsplash.com/photo-1517299321609-52687d1bc55a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80);
    background-repeat:no-repeat;
    display: flex;
    flex-direction: column;
    font-family: 'Poppins', sans-serif;
    background-size: cover;
    background-position: center center;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

h1 {
    font-weight: normal;
    font-size: 4rem;
    margin-top: -28rem;
}

.countdown-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}

.big-text {
    font-weight: bold;
    font-size: 4rem;
    line-height: 1;
    margin: 1rem 2rem;
}

.countdown-el  {
    text-align: center;
}
.countdown-el span {
    font-size: 1.3rem;
}